.git
.gitignore
**/.idea
**/.vscode
**/*.iml
**/*.log

target
**/target

src/main/resources/application-local.properties

**/*.jks
**/*.p12
**/*.pfx
**/*.pem
**/*.key
**/*.crt

**/Wallet_*
**/*wallet*
